/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |    
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___| 
  |  |__/  |  |  |  |  |  |  |\  \   |  |    
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|
  
   OIT SHARED SERVICES CONTENT THEME
	*/


/**
	* Styles for content area 
	*/

/* headers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm headers */

#l-ss-main-container {
	color: #5B5B5B;
	font-size:75%;
	
	/* header */
	h1, h2, h3 {
		font-weight: 400;
	}
	h1, .alpha {
		color: #f09905;
		font-size: 2.5em;
	}
	h2, .beta {
		color: #0736a4;
		font-size: 1.7em;
	}
	h3, .gamma {
		color: #6A6A6A;
		font-weight: 700;
	}
	h4, .delta {
		color: #2F5B99;
		text-transform: uppercase;
		font-weight: 700;
		font-size: .9em;
	}
	h5, .epsilon {
		color: #cc3300;
		font-weight: 700;
		font-size: .9em;
	}
	.ss-header-label {
		@extend .delta;
		padding: .5em 25px .45em 25px;;
		border-top: 4px solid #2F5B99;
		border-bottom: 2px dotted #2F5B99;
		background: #F7F4E3 url(../images/arrow-blue.png) no-repeat 10px center;
		letter-spacing: 1px;
		font-weight: 700;
		text-align: left;
		line-height: 1.4em;
		font-family: Calibri, Arial, sans-serif;
	}

	/* contents */
	.l-ss-main {
		padding: 30px 0;
	}
	
	.ls-ss-main aside {
		padding: 0px 5% 10px;
		border: 1px solid #ddd;
		color: white;
	}
	
	/* fancy anchors */
	a {
		color: #f09905;
		text-decoration: none;
		
		&:link,
		&:visited {
			border-bottom: 1px dashed #f09905
		}
		&:hover {
			border-bottom: 1px solid #f09905;
		}
		&:active {
			color: #000;
			border-bottom: 1px solid #000;
		}
	}
	
	
}/* end - l-ss-main container */


@media only screen and (min-width: 768px) {

	#l-ss-main-container {
		font-size: 100%;
			
		/* flourishes */
		#l-ss-main-container,
    .l-ss-main aside {
			box-shadow: 0 5px 10px #aaa;
    }
    /* layout */
    .l-ss-main .ss-main-content {
			float: left;
			width: 57%;
    }
    .l-ss-main .ss-side-content {
			float: right;
			padding: 0 3%;
			width: 28%;
		}
	}

} /* end - media query */


/* status messages mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm status messages */
.ss-error, .ss-warning, .ss-notice, .ss-success {
	margin: 1.5em;
	padding: 0.666em;	
}
.ss-error {
	border: 1px solid red;
	background: #fee;
}
.ss-warning {
	border: 1px solid #ff0;
	background: #ffe;
}
.ss-notice {
	border: 1px solid #00f;
	background: #eef;
}
.ss-success {
	border: 1px solid #0f0;
	background: #efe;
}
