/**
	* forms mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm forms 
	*/
.ss-stylish-form {
	display: block;
	margin-bottom: 2em;
	
	input[type="text"],
	input[type="date"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="url"],
	select,
	textarea,
	button,
	faux-button {
		border-radius: 3px;
	}
	button,
	input[type="button"], 
	input[type="reset"], 
	input[type="submit"],
	.faux-button {
		display:block;
		display: inline-block;
		overflow: visible;
		margin:0.8em 0 0;
		margin-bottom: 1em;
		padding:0 0.5em;
		height:2em;
		border: 1px solid #091256;
		border-radius: 3px;
		background: #3438AE;
		color: #fff;
		white-space: nowrap;
		letter-spacing: 2px;
		font-size:0.99em;
		line-height:1.5em;
		line-height: 1.7em;
		cursor:pointer;
		-x-system-font: none;
		*margin:1.75em 0 0;
		-webkit-appearance: none;
	}
	input[type="reset"] {
		background: #666;	
	}
	.faux-button {
		text-decoration: none;
		line-height: 2;
		color: #fff;
	}
	.faux-button:link,
	.faux-button:visited {
		color: #fff!important;
	}
	button:hover,
	input[type="button"]:hover, 
	input[type="submit"]:hover,
	.faux-button:hover {
		background: #091256;
	}
	input[type="reset"]:hover {
		background: #444;
	}
	.faux-button:hover {
		text-decoration: none;
	}
	button::-moz-focus-inner {
	  border: 0;
	}
	fieldset {
	  position:relative;
	  clear:both;
	  margin:0 0 1.5em;
	  margin: 1em 1em 1em 0;
	  padding:1.5em 0 0;
	  padding: 1em 1em 2em 1em;
	  border:0;
	  border: 1px solid #ddd;
	  border-radius: 3px;
	}
	input[type="text"],
	input[type="date"],
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="tel"],
	input[type="url"]{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0 0 0.75em;
		padding:0.29em 0;
		width: auto;
		height:2.25em;
		border:1px solid #ccc;
		border-right-color:#eee;
		border-bottom-color:#eee;
		font-size:1em;
		line-height:1.5em;
		-ms-box-sizing:border-box;
		*height:1.5em;
	}
	input[type=file]{
		padding:0;
		height:2.25em;
		border:0;
		font-size:1em;
	}
	textarea{
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		margin:0;
		padding:0.29em 0;
		width:100%;
		border:1px solid #ccc;
		border-right-color:#eee;
		border-bottom-color:#eee;
		-ms-box-sizing:border-box;
	}
	select{
		margin-bottom:0.75em;
		padding:0.25em;
		height:2.25em;
		border:1px solid #ccc;
		border-right-color:#eee;
		border-bottom-color:#eee;
		font-size:1em;
		line-height:1.5em;
	}
	optgroup {
		text-indent:0.2em;
		font-weight:700;
		font-style:normal;
	}
	optgroup + optgroup {
		margin-top:1em;
	}
	option{
		padding:0;
		height:1.5em;
		text-indent:1em;
		font-size:1em;
	}
	label{
		display:block;
		margin:0;
		padding:0;
		width:100%;
		height:1.5em;
		cursor:pointer;
		*height:auto;
		*line-height:1.4em;
	}
	label input{
		margin:0 0.5em 0 0;
		padding:0;
		width:auto;
		height:1em;
		border:0;
		background:0;
		line-height:1.5em;
		*height:1.5em;
	}
	legend{
		left:0;
		margin:0;
		padding:0;
		font-weight:700;
		font-size:1em;
	}
}


.ss-stylish-form.ss-horizontal-form {
	margin-bottom: 2em;
	
	input,
	textarea{
		float:left;
		margin:0 0 0.75em;
		width:49%;
		*margin:0 0 0.8em;
	}
	button,
	input[type="button"], 
	input[type="reset"], 
	input[type="submit"],
	.faux-button {
		margin-right: 1em;
		width: auto;
	}
	select{
		float:left;
		margin:0 0 0.75em;
		width:49%;
		_margin:0 0 1.25em;
	}
	label{
		float:left;
		clear:left;
		padding:0.375em 0;
		width:49%;
	}
	label input{
		margin:0.25em 0.5em 0 0;
		width:auto;
		height:1em;
		line-height:1.5em;
	}
}

/* mega search box mmmmmmmmmmmmmmmmmmmmmmmmmm mega search box */

.ss-mega-search {
	text-align: center;
	fsaf
	h1 {
		margin-bottom: 0;
	}
	.ss-mega-input,
	.ss-mega-submit {
		display: inline-block;
		overflow: visible;
		margin:0.8em 0 0;
		margin-right:.5em;
		margin-bottom: 1em;
		padding:0 0.5em;
		height:2.85em;
		border: 2px solid #aaa;
		border-radius: 5px;
		background: transparent;
		white-space: nowrap;
		letter-spacing: 2px;
		font-size:1.2em;
		font-family: 'Open Sans', Arial, sans-serif;
		line-height:1.5em;
		cursor:text;
		*margin:1.75em 0 0;
		-webkit-appearance: none;
	}
	.ss-mega-search {
		width: 70%;
	}
	.ss-mega-submit {
		width: 3em;
		height: 2.95em;
		border: 1px solid #091256;
		background: #3438AE url(../images/magnifying-glass.png) center center no-repeat;
		color:#fff;
		text-indent: -4000px;
	}
	.ss-mega-input:focus {
		border: 2px solid #2B31C0;
	}
}
.lt-ie10 .ss-mega-search .ss-mega-submit {
	position: relative;
	top:-1px;
}
@media only screen and (min-width: 960px) {

	.ss-mega-search .ss-mega-input {
		width:370px;
	}
}/* end media query */