/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |    
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___| 
  |  |__/  |  |  |  |  |  |  |\  \   |  |    
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|
  
   OIT SHARED SERVICES CONTENT THEME
	*/


/**
	* Styles for header and footer 
	*/


.l-ss-wrapper {
    margin: 0 5%;
    width: 90%;
}
.ss-menu {
	margin: 0px;
	padding: 0px;
	
}


/**
 * HEADER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm HEADER START 
 */

#l-ss-header-container {
	background: -webkit-gradient(radial, 70% 40%, 0, 70% 40%, 100, from(#063996), to(#052768)); 
	background: -webkit-radial-gradient(70% 40%, closest-corner, #063996, #052768);  
	background: -moz-radial-gradient(70% 40%, closest-corner, #063996, #052768);
	background: -ms-radial-gradient(70% 40%, closest-corner, #063996, #052768);
	background-color: #063996;
	background-position: 70% 40%; 
	background-repeat: no-repeat;
	padding: 2% 0;
	
	.ss-header-first,
	.ss-header-second {
		display: block;
		float: left;
		clear: both;
		width:100%;
		text-align: center;
	}
	.ss-header-first {
		/* text-align: left; */
				
		h1 {
			text-indent: -4000px;
		}
		img {
			margin: 3% 0;
			max-width: 284px;
			width:100%;
			height: auto;
		}
	}
	.ss-header-second {
		padding: 0;
		/* utitity menu nav */
		.ss-menu {
			margin:0;
			padding:0;
		}	
		.ss-menu-leaf {
			display: inline-block;
		}
		a {
			margin-left: 5px;
			border-bottom: 1px dashed #fff;
			color: #fff;
			text-decoration: none;
		}
		a:hover {
			border-bottom-style: solid;
		}
	}
}


@media only screen and (min-width: 500px) {

	#l-ss-header-container {
	
		.ss-header-first,
		.ss-header-second {
			display: block;
			float: left;
			clear: none;
			text-align: left;
		}
		.ss-header-first {
			width:40%;			
		}
		.ss-header-second {
			text-align: right;
			width: 59%;
		}
		.ss-header-second {
			
			/* utitlity menu nav */
			.ss-menu {
				text-align: right;
			}
			.ss-menu-leaf {
				margin: 5% 0;
			}
		}
	}

} /* end media query */




/**
 * FOOTER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm FOOTER START
 */
 
#l-ss-footer-container {
	background: #262626;
	color: #818286;
	font-size: 14px;
	
	a {
		color: #818286;
		text-transform: uppercase;
	}
	footer {
		padding: 20px 0;
	}	
	.l-ss-menu-footer {
		
		.ss-menu {
			display: block;
			float:left;
			clear: none;
			margin: 1%;
			padding: 0;
			padding:0 2%;
			width: 43%;
		}	
		.ss-menu-leaf {
				padding: (1rem / 3);
			a {
				color: #818286;
				text-decoration: none;
		
				&:hover {
					border-bottom: 1px dashed #fff;
					color: #fff;
				}
			}
		}
		.ss-menu:nth-child(1),
		.ss-menu:nth-child(3) {
			border-right: 1px solid #000;
			text-align: right;
		}
		.ss-menu:nth-child(2),
		.ss-menu:nth-child(4) {
			border-left: 1px solid #000;
			text-align: left;
		}
		.ss-menu:nth-child(2),
		.ss-menu:nth-child(4) {
			clear:right;
		}
	}
	/* Persistent Social links in the footer */
	.l-ss-logo-social-wrapper {
		position: relative;
		display: block;
		clear: both;
		margin: 0 auto;
		width: 258px;
		text-align: center;
	}
	.l-ss-menu-social {
		display: block;
		clear:both;
		margin-top: (1rem / 2);
		text-align: center;

		.ss-menu { 
			display: inline-block;
			clear: both;
			margin:0;
			padding: 0;
			list-style-type: none;
			text-decoration: none;
			line-height: 2.25;
		}
		.ss-menu-leaf {
			display:inline-block;
			margin-left: (1rem / 2);

			&:first-child {
				margin-left: 0;
			}
			&:nth-child(1) a { /* twitter */
				background-position: 0 0;
			}
			&:nth-child(2) a { /* facebook */
				background-position: -50px 0;
			}
			&:nth-child(3) a { /* instagram */
				background-position: -250px 0;
			}
			&:nth-child(4) a { /* google plus */
				background-position: -300px 0;
			}
			&:nth-child(5) a { /* youtube */
				background-position: -100px 0;
			}
/*		additional icons and coordinates in the sprite (if you need them) */
/*		li:nth-child(0) a { */ /* flickr */
/*			background-position: -150px 0;
/*		}
/*		li:nth-child(0) a { */ /* linkedin */
/*			background-position: -200px 0;
/*		}
/*		li:nth-child(0) a { */ /* blank */
/*			background-position: -350px 0;
/*		} */
			a {
				display: inline-block;
				height: 37px;
				background-image: url('../images/footer-social-sprite.png');  /* social media sprite */
				background-repeat: no-repeat;
				color: #fff;
				text-decoration: none;
				text-indent: -4000px;
				width: 37px;
			}
			
			&:link,
			&:visited {
				opacity: .7;
			}
			&:hover,
			&:active,
			&:focus {
				opacity: 1;
			}
		}
	}
	.ss-address {
		padding: 12px 0 2rem 0;       
		text-align: center;
		font-style: normal;
		font-size: 11px;
	}
}

@media only screen and (min-width: 768px) {


	
	#l-ss-footer-container {
	
		.ss-logo-social-wrapper,
		.ss-address {
			position: relative;
			left: 33%;
			display: block;
			float: none;
			clear: none;
			margin: 0;
			width: 33%;
		}
		.ss-address {
			left: 0;
			width: 100%;
		}
		
		.l-ss-menu-footer {
			
			.ss-menu {
				position: absolute;
				display: block;
				clear: none;
				width: (22% / 2);
				border: 0;

				&:nth-child(1),
				&:nth-child(2) {
					border: 0;
					border-right: 1px solid #000;
					text-align: right;
				}
				&:nth-child(3),
				&:nth-child(4) {
					border: 0;
					border-left: 1px solid #000;
					text-align: left;
				}
				&:nth-child(1) {
					left: 0;
				}
				&:nth-child(2) {
					left: (33% / 2);
				}
				&:nth-child(3) {
					left: (33% * 2);
				}
				&:nth-child(4) {
					left: ((33% * 2) + (33% / 2));
				}
			}
		}
	}
	
} /* end media query 768  */   