/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |    
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___| 
  |  |__/  |  |  |  |  |  |  |\  \   |  |    
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|
  
   OIT SHARED SERVICES CONTENT THEME
	*/
/**
	* Styles for content area 
	*/
/* headers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm headers */
#l-ss-main-container {
  color: #5B5B5B;
  font-size: 75%;
  /* header */
  /* contents */
  /* fancy anchors */ }
  #l-ss-main-container h1, #l-ss-main-container h2, #l-ss-main-container h3 {
    font-weight: 400; }
  #l-ss-main-container h1, #l-ss-main-container .alpha {
    color: #f09905;
    font-size: 2.5em; }
  #l-ss-main-container h2, #l-ss-main-container .beta {
    color: #0736a4;
    font-size: 1.7em; }
  #l-ss-main-container h3, #l-ss-main-container .gamma {
    color: #6A6A6A;
    font-weight: 700; }
  #l-ss-main-container h4, #l-ss-main-container .delta, #l-ss-main-container .ss-header-label {
    color: #2F5B99;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em; }
  #l-ss-main-container h5, #l-ss-main-container .epsilon {
    color: #cc3300;
    font-weight: 700;
    font-size: .9em; }
  #l-ss-main-container .ss-header-label {
    padding: .5em 25px .45em 25px;
    border-top: 4px solid #2F5B99;
    border-bottom: 2px dotted #2F5B99;
    background: #f7f4e3 url(../images/arrow-blue.png) no-repeat 10px center;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: left;
    line-height: 1.4em;
    font-family: Calibri, Arial, sans-serif; }
  #l-ss-main-container .l-ss-main {
    padding: 30px 0; }
  #l-ss-main-container .ls-ss-main aside {
    padding: 0px 5% 10px;
    border: 1px solid #ddd;
    color: white; }
  #l-ss-main-container a {
    color: #f09905;
    text-decoration: none; }
    #l-ss-main-container a:link, #l-ss-main-container a:visited {
      border-bottom: 1px dashed #f09905; }
    #l-ss-main-container a:hover {
      border-bottom: 1px solid #f09905; }
    #l-ss-main-container a:active {
      color: #000;
      border-bottom: 1px solid #000; }

/* end - l-ss-main container */
@media only screen and (min-width: 768px) {
  #l-ss-main-container {
    font-size: 100%;
    /* flourishes */
    /* layout */ }
    #l-ss-main-container #l-ss-main-container,
    #l-ss-main-container .l-ss-main aside {
      box-shadow: 0 5px 10px #aaa; }
    #l-ss-main-container .l-ss-main .ss-main-content {
      float: left;
      width: 57%; }
    #l-ss-main-container .l-ss-main .ss-side-content {
      float: right;
      padding: 0 3%;
      width: 28%; } }
/* end - media query */
/* status messages mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm status messages */
.ss-error, .ss-warning, .ss-notice, .ss-success {
  margin: 1.5em;
  padding: 0.666em; }

.ss-error {
  border: 1px solid red;
  background: #fee; }

.ss-warning {
  border: 1px solid #ff0;
  background: #ffe; }

.ss-notice {
  border: 1px solid #00f;
  background: #eef; }

.ss-success {
  border: 1px solid #0f0;
  background: #efe; }
