/**
   ______      __    __    __    __   _______
  |      \    |  |  |  |  |  |  /  / |  _____|
  |   __  \   |  |  |  |  |  | /  /  |  |    
  |  |  \  \  |  |  |  |  |  |/  /   |  |    __
  |  |  |  |  |  |  |  |  |     \    |  ___| 
  |  |__/  |  |  |  |  |  |  |\  \   |  |    
  |       /   \  \__|  /  |  | \  \  |  |____
  |______/     \______/   |__|  \__\ |_______|
  
   OIT SHARED SERVICES CONTENT THEME
	*/
/**
	* Styles for header and footer 
	*/
.l-ss-wrapper {
  margin: 0 5%;
  width: 90%; }

.ss-menu {
  margin: 0px;
  padding: 0px; }

/**
 * HEADER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm HEADER START 
 */
#l-ss-header-container {
  background: -webkit-gradient(radial, 70% 40%, 0, 70% 40%, 100, from(#063996), to(#052768));
  background: -webkit-radial-gradient(70% 40%, closest-corner, #063996, #052768);
  background: -moz-radial-gradient(70% 40%, closest-corner, #063996, #052768);
  background: -ms-radial-gradient(70% 40%, closest-corner, #063996, #052768);
  background-color: #063996;
  background-position: 70% 40%;
  background-repeat: no-repeat;
  padding: 2% 0; }
  #l-ss-header-container .ss-header-first,
  #l-ss-header-container .ss-header-second {
    display: block;
    float: left;
    clear: both;
    width: 100%;
    text-align: center; }
  #l-ss-header-container .ss-header-first {
    /* text-align: left; */ }
    #l-ss-header-container .ss-header-first h1 {
      text-indent: -4000px; }
    #l-ss-header-container .ss-header-first img {
      margin: 3% 0;
      max-width: 284px;
      width: 100%;
      height: auto; }
  #l-ss-header-container .ss-header-second {
    padding: 0;
    /* utitity menu nav */ }
    #l-ss-header-container .ss-header-second .ss-menu {
      margin: 0;
      padding: 0; }
    #l-ss-header-container .ss-header-second .ss-menu-leaf {
      display: inline-block; }
    #l-ss-header-container .ss-header-second a {
      margin-left: 5px;
      border-bottom: 1px dashed #fff;
      color: #fff;
      text-decoration: none; }
    #l-ss-header-container .ss-header-second a:hover {
      border-bottom-style: solid; }

@media only screen and (min-width: 500px) {
  #l-ss-header-container .ss-header-first,
  #l-ss-header-container .ss-header-second {
    display: block;
    float: left;
    clear: none;
    text-align: left; }
  #l-ss-header-container .ss-header-first {
    width: 40%; }
  #l-ss-header-container .ss-header-second {
    text-align: right;
    width: 59%; }
  #l-ss-header-container .ss-header-second {
    /* utitlity menu nav */ }
    #l-ss-header-container .ss-header-second .ss-menu {
      text-align: right; }
    #l-ss-header-container .ss-header-second .ss-menu-leaf {
      margin: 5% 0; } }
/* end media query */
/**
 * FOOTER START mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm FOOTER START
 */
#l-ss-footer-container {
  background: #262626;
  color: #818286;
  font-size: 14px;
  /* Persistent Social links in the footer */ }
  #l-ss-footer-container a {
    color: #818286;
    text-transform: uppercase; }
  #l-ss-footer-container footer {
    padding: 20px 0; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu {
    display: block;
    float: left;
    clear: none;
    margin: 1%;
    padding: 0;
    padding: 0 2%;
    width: 43%; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf {
    padding: 0.33333rem; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf a {
      color: #818286;
      text-decoration: none; }
      #l-ss-footer-container .l-ss-menu-footer .ss-menu-leaf a:hover {
        border-bottom: 1px dashed #fff;
        color: #fff; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3) {
    border-right: 1px solid #000;
    text-align: right; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
    border-left: 1px solid #000;
    text-align: left; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2),
  #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
    clear: right; }
  #l-ss-footer-container .l-ss-logo-social-wrapper {
    position: relative;
    display: block;
    clear: both;
    margin: 0 auto;
    width: 258px;
    text-align: center; }
  #l-ss-footer-container .l-ss-menu-social {
    display: block;
    clear: both;
    margin-top: 0.5rem;
    text-align: center; }
    #l-ss-footer-container .l-ss-menu-social .ss-menu {
      display: inline-block;
      clear: both;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-decoration: none;
      line-height: 2.25; }
    #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf {
      display: inline-block;
      margin-left: 0.5rem;
      /*		additional icons and coordinates in the sprite (if you need them) */
      /*		li:nth-child(0) a { */
      /* flickr */
      /*			background-position: -150px 0;
      /*		}
      /*		li:nth-child(0) a { */
      /* linkedin */
      /*			background-position: -200px 0;
      /*		}
      /*		li:nth-child(0) a { */
      /* blank */
      /*			background-position: -350px 0;
      /*		} */ }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:first-child {
        margin-left: 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:nth-child(1) a {
        /* twitter */
        background-position: 0 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:nth-child(2) a {
        /* facebook */
        background-position: -50px 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:nth-child(3) a {
        /* instagram */
        background-position: -250px 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:nth-child(4) a {
        /* google plus */
        background-position: -300px 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:nth-child(5) a {
        /* youtube */
        background-position: -100px 0; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf a {
        display: inline-block;
        height: 37px;
        background-image: url("../images/footer-social-sprite.png");
        /* social media sprite */
        background-repeat: no-repeat;
        color: #fff;
        text-decoration: none;
        text-indent: -4000px;
        width: 37px; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:link, #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:visited {
        opacity: .7; }
      #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:hover, #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:active, #l-ss-footer-container .l-ss-menu-social .ss-menu-leaf:focus {
        opacity: 1; }
  #l-ss-footer-container .ss-address {
    padding: 12px 0 2rem 0;
    text-align: center;
    font-style: normal;
    font-size: 11px; }

@media only screen and (min-width: 768px) {
  #l-ss-footer-container .ss-logo-social-wrapper,
  #l-ss-footer-container .ss-address {
    position: relative;
    left: 33%;
    display: block;
    float: none;
    clear: none;
    margin: 0;
    width: 33%; }
  #l-ss-footer-container .ss-address {
    left: 0;
    width: 100%; }
  #l-ss-footer-container .l-ss-menu-footer .ss-menu {
    position: absolute;
    display: block;
    clear: none;
    width: 11%;
    border: 0; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1), #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2) {
      border: 0;
      border-right: 1px solid #000;
      text-align: right; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3), #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
      border: 0;
      border-left: 1px solid #000;
      text-align: left; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(1) {
      left: 0; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(2) {
      left: 16.5%; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(3) {
      left: 66%; }
    #l-ss-footer-container .l-ss-menu-footer .ss-menu:nth-child(4) {
      left: 82.5%; } }
/* end media query 768  */
