/**
 * data tables mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm data table 
 */
table.ss-data-table {
  margin: 20px 0;
  width: 100%;
  border-collapse: collapse;
  color: #404344;
  text-align: left;
  /* make long email addresses not destroy tables */ }
  table.ss-data-table a[href^="mailto"] {
    /* 		display: inline-block; */
    overflow-x: hidden;
    width: 200px;
    /* 	  text-overflow: ellipsis; */
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px; }
  table.ss-data-table th,
  table.ss-data-table tr,
  table.ss-data-table td {
    padding: .5em 1em;
    background: #F7F4E3; }
  table.ss-data-table th,
  table.ss-data-table tr {
    border-bottom: 1px solid #E1E0D7; }
  table.ss-data-table tbody tr:hover td,
  table.ss-data-table tbody tr:hover th {
    background-color: #E1E0D7; }

table.ss-data-table td a {
  display: inline;
  color: #cc3300;
  border-bottom: 1px dashed  #cc3300;
  text-decoration: none; }
  table.ss-data-table td a:hover {
    border-bottom: 1px solid  #cc3300;
    text-decoration: none; }

@media only screen and (max-width: 600px) {
  table.ss-data-table th,
  table.ss-data-table tr,
  table.ss-data-table td {
    padding: .1em .2em;
    font-size: 12px !important; }

  table.ss-data-table a[href^="mailto"] {
    overflow-x: hidden;
    width: 40px;
    font-size: 0; }

  table.ss-data-table a[href^="mailto"]:before {
    content: 'email';
    font-size: 12px; } }
/* end media query */
